<?xml version="1.0" encoding="UTF-8"?>
<suite name="MySuite" preserve-order="true">
    <test name="MyTest">
        <!-- Define parameters here -->
        <parameter name="" value=""/>
        <classes>
            <class name="RefurbApiTest">
                <methods>
                    <!-- Include specific methods if needed -->
                    <include name="validateInspectionSubmission"/>
                    <include name="validateInspectionStatusIsInspected"/>
                    <include name="validateEstimationSubmission"/>
                    <include name="validateAssignCatalogApi"/>
                    <include name="validateEstimationRejectionFlow"/>
                    <include name="submitEstimationCat"/>
                    <include name="submitRejectEstimation"/>
                    <include name="validateEstimationApprovalFlow"/>
                    <include name="submitWorkProofFromAndroid"/>
                    <include name="validateAssignWorkOrder"/>
                    <include name="validateRejectWorkOrderCAT"/>
                    <include name="resubmitWorkProofFromAndroid"/>
                    <include name="validateApproveWorkOrderCAT"/>
                    <include name="acceptPerfoma"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>


