<?xml version="1.0" encoding="UTF-8"?>
<suite name="MySuite" preserve-order="true">
    <test name="MyTest">
        <!-- Define parameters here -->
        <parameter name="" value=""/>
        <classes>
            <class name="testPackage.PIFlowTest">
                <methods>
                    <!-- Include specific methods if needed -->
                    <include name="validateInspectionSubmission"/>
                    <include name="validateInspectionStatusIsInspected"/>
                    <include name="validateEstimationSubmission"/>
                    <include name="validateAssignCatalogApi"/>
                    <include name="validateEstimationRejectionFlow"/>
                    <include name="submitEstimationCat"/>
                    <include name="submitRejectEstimation"/>
                    <include name="validateEstimationApprovalFlow"/>
                    <include name="submitWorkProofFromAndroid"/>
                    <include name="validateAssignWorkOrder"/>
                    <include name="validateRejectWorkOrderCAT"/>
                    <include name="resubmitWorkProofFromAndroid"/>
                    <include name="validateApproveWorkOrderCAT"/>
                    <include name="acceptPerfoma"/>
                </methods>
            </class>
            <class name="testPackage.PDIFlowTest">
                <methods>
                    <include name="validateStockIn"/>
                    <include name="validatePDIInspectionSubmission"/>
                    <include name="validateAssignCatalog"/>
                    <include name="validateQaAssesmentSubmission"/>
                    <include name="validateTagSubmission"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>


